body{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.wrapper {
   max-width: 1440px;
   margin: 0 auto;
   overflow: hidden;
}

.header{
   height: 134px;
   background-color: #EDF2EC;
}

.container{
   max-width: 1220px;
   margin: 0 auto;
   overflow: hidden;
}

.header-container{
   display: flex;
   justify-content:space-between;
   margin: 42px 0;
}

.header-menu{
   display: flex;
   justify-content:space-around;
   background: #FFD700;
   }
   
   .nav-list{
   display: flex;  
   justify-content: space-around;
   flex-wrap: wrap;
   }
   
   .nav-item {
   list-style-type: none;
   margin-right: 20px; 
   }
   
   ul {
   margin-left: 0; 
   padding-left: 0;
   }
   
   a{
   text-decoration: none;
   color: black;
   font-weight: bold;
   display: block;
   }
   
   .nav-item a:hover{
   text-decoration: underline;
   transform: scale(1.2);
   z-index: 1;
   transition: transform .5s;
   }