@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');

html, body {
   height: 100%;
   min-width: 320px;
   position: relative;
}

.wrapper {
   margin: 0 auto;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.header{
   width: 100%;
   background-color: #EDF2EC;
   font-family: 'Inika', serif;
}

.container{
   max-width: 1440px;
   margin: 0 auto;
   background-color: #EDF2EC;
}

.header-container{
   display: flex;
   justify-content:space-between;
   align-items: center;
   padding: 0 110px;
   margin: 42px 0;
   font-size: 16px;
}

.logo{
   display: flex;
}

.logo-image {
   width: 20px;
   height: 20px;
}

.logo p{
   font-family: 'Inika', serif;
   line-height: 28px;
   font-weight: 400;
   font-size: 16px;
   color: #010201;
   margin: 0;
}

.nav-list{
   display: flex;  
   justify-content: space-around;
   flex-wrap: wrap;
}

.nav-item {
list-style-type: none;
}

a{
   text-decoration: none;
   color: rgba(1, 2, 1, 1);
   display: block;
}

ul{
   padding: 0;
}

.nav-item a:hover{
   color:rgba(224, 103, 51, 1);
   z-index: 1;
   transition: 0.3s;
   cursor: pointer;
}
.nav-item:not(:last-child){
   padding-right: 46px;
}

.welcome{
   background-color: #EDF2EC;
   font-family: 'Inter', sans-serif;
}

.welcome-container{
   display: flex;
   justify-content:center;
   padding: 0 110px;
   font-size: 20px;
}

.leafs{
   flex: 1;
   padding: 55px 0 69px 0;
   width:450px;
   height:410px;
}

.welcome-info{
   flex: 1;
   padding: 98px 0 94px 128px;
}

.grey{
   margin: 0;
   font-size: 45px; 
   color: rgba(113, 113, 113, 1);
   font-weight: 700;
   letter-spacing: 1.2;
}

.green{
   color: rgba(73, 154, 24, 1);
}

.welcome-text{
   color: rgba(99, 96, 96, 1);
   line-height: 35px;
   margin: 40px 0 45px 0;
}

.welcome-button{
   border: 2px solid rgba(224, 103, 51, 1);
   border-radius: 10px;
   font-size: 16px;
   padding: 12px 26px;
   text-align: center;
   background-color: #EDF2EC;
}

.welcome-button:hover{
   z-index: 1;
   transition: 0.3s;
   cursor: pointer;
   color: #FFFFFF;
   background-color:rgba(224, 103, 51, 1);
}

.about-container{
   display: flex;
   justify-content:space-between;
   padding:93px 110px 19px 110px;
   font-size: 20px;
}

.houseplant{
   flex: 1;
   padding-bottom: 70px;
   text-align: right;
}

.about-info{
   flex: 1;
   padding: 68px 0 60px 0;
}

.about{
   background-color: rgba(255, 255, 255, 1);
   font-family: 'Inika', serif;
}

.green-info{
   margin: 0;
   font-size: 40px; 
   color: rgba(73, 154, 24, 1);
   font-weight: 400;
   line-height: 52px;
   padding: 0 140px 38px 0;
}

.orange{
   color: rgba(224, 103, 51, 1);
}

.about-text{
   margin: 0;
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
}

.service-header{
   display: flex;
}

.service-title{
   font-family: 'Inika';
   font-weight: 400;
   font-size: 40px;
   line-height: 52px;
   color: #499A18;
   margin: 0;
   width: 305px;
}

.service{
   padding: 38px 110px 68px 110px;
}

.service-button{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 142px;
}

.button-service{
   width: 160px;
   height: 50px;
   border: 1px solid rgba(224, 103, 51, 1);
   border-radius: 5px;
   font-family: 'Inika';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 26px;
   text-align: center;
   background-color: #EDF2EC;
   color:  #E06733;
   cursor: pointer;
}

.button-service:hover{
   z-index: 1;
   transition: 0.3s;
   cursor: pointer;
   color: #FFFFFF;
   background-color:rgba(224, 103, 51, 1);
}

.service-button-items {
   padding-right: 38px;
}

.service-container{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-top: 80px;
}

.service-card{
   display: flex;
   flex-direction: column;
   width: 330px;
   height: 450px;
   border: 1px solid #E3E1D5;
   border-radius: 20px;
   margin-bottom: 53px;
}

.garden{
   background: url('assets/img/first.png') no-repeat;
}

.planting{
   background: url('assets/img/second.png') no-repeat;
}

.lawn-care{
   background: url('assets/img/third.png') no-repeat;
}

.plantingtwo{
   background: url('assets/img/fourth.png') no-repeat;
}

.garden-care{
   background: url('assets/img/fifth.png') no-repeat;
}

.plantingthree{
   background: url('assets/img/sixth.png') no-repeat;
}

.card-item{
   width: 330px;
   height: 350px;
}

.service-card h3{
margin: 0;
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #E06733;
padding: 10px 0 12px 0;
}

.service-card p{
   margin: 0;
   text-align: center;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #717171;
}

.prices{
   background: #FFFFFF;
}

.prices-container{
   display: flex;
   justify-content:space-between;
   padding:35px 110px 114px 110px;
   font-size: 20px;
}

.price-content{
   display: flex;
   flex-direction: column;
}

.price-content h2{
   margin: 0;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   padding-bottom: 60px;
}

.price-title{
   display: flex;
   flex-direction: column;
   border: 1px solid #E3E1D5;
   border-radius: 20px;
   padding: 34px 41px;
}

.price-item{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #EDF2EC;
   border-radius: 20px;
   padding: 16px 40px;
}

.item-text{
   width: 100px;
   height: 18px;
   padding-right: 54px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
}

.item-btn{
   width: 16px;
   height: 16px;
   background: url('assets/img/accordion_btn.svg') no-repeat;
   cursor: pointer;
}

.price-item:not(:last-child){
   margin-bottom: 32px;
}

.price-text{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.price-text img{
width: 150px;
height: 175px;
padding-top: 40px;
}

.black{
   margin: 0;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 50px;
   text-align: right;
   color: #000000;
   padding-bottom: 42px;
}

.price-button{
   width: 160px;
   height: 50px;
   border: 1px solid rgba(224, 103, 51, 1);
   border-radius: 5px;
   font-family: 'Inika';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 26px;
   text-align: center;
   background-color: #FFFFFF;
   cursor: pointer;
   color: #E06733;
}

.price-button:hover{
   z-index: 1;
   transition: 0.3s;
   cursor: pointer;
   color: #FFFFFF;
   background-color:rgba(224, 103, 51, 1);
}

.contacts-container{
   display: flex;
   justify-content: flex-start;
   padding:53px 110px 0 110px;
   font-size: 20px;
}

.contacts-image{
max-width: 400px;
max-height: 497px;
}

.contacts-contant{
display: flex;
flex-direction: column;
}

.contacts-contant h2{
   align-items: flex-start;
   margin: 0;
   font-family: 'Inika';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 52px;
   color: #499A18;
   padding: 7px 0 0 113px;
}

.contacts-item{
   padding: 33px 0 0 370px;
   
}
.item{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 450px;
   height: 50px;
   background: rgba(214, 231, 210, 1);

}

.contacts-item-text{
   width: 100px;
   height: 18px;
   padding-left: 20px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
}

.contacts-item-btn{
   width: 16px;
   height: 16px;
   background: url('assets/img/accordion_btn.svg') no-repeat;
   cursor: pointer;
   padding-right: 35px;
}

.price-item:not(:last-child){
   margin-bottom: 32px;
}