.wrapper {
   max-width: 1440px;
   margin: 0 auto;
   overflow: hidden;
}

.header{
   height: 134px;
   background-color: #EDF2EC;
}

.container{
   max-width: 1220px;
   margin: 0 auto;
   overflow: hidden;
}

.header-container{
   display: flex;
   justify-content:space-between;
   margin: 42px 0;
}

