@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Open+Sans:ital,wght@1,300&display=swap');


html, body {
height: 100%;
margin: 0;
padding: 0;
min-width: 320px;
position: relative;
width: 100%;
font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
}

body{
display: flex;
flex-direction: column;
justify-content: space-between;
}

header,footer,main {
background: #FFFACD;
margin:0;
padding: 0 25px 0 25px;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
   overflow: hidden;
}

.header-container{
display: flex;
justify-content: space-around;
text-transform: uppercase;
}

.header-foto {
display: flex;
width: 20%;
height: 100%;
overflow: hidden;
}

.header-content{
width: 80%;
display: flex;
flex-direction: column;
justify-content: flex-start;
font-size: 16px;
}

.photokruk {
width: 100%;

}

.job{
font-size: 2em;
margin: 0;
padding: 0;
}

.header-menu{
display: flex;
justify-content: center;
background: #FFD700;
}

.nav-list{
display: flex;  
justify-content: space-around;
flex-wrap: wrap;
}

li {
list-style-type: none;
margin-right: 20px; 
}

ul {
margin-left: 0; 
padding-left: 0;
}

a{
text-decoration: none;
color: black;
font-weight: bold;
display: block;
}

.nav-item a:hover{
text-decoration: underline;
transform: scale(1.2);
z-index: 1;
transition: transform .5s;
}

.job {
   animation-duration: 1s;
   animation-name: slidein;
   text-align: center;
   font-weight: bold;
   background: #FFD700;
}

@keyframes slidein {
   from {
     margin-left: 100%;
     width: 300%;
   }
 
   to {
     margin-left: 0%;
     width: 100%;
   }
}

.header-name{
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 30px;
}

.aside{
display: flex;
flex-direction: column;
justify-content: center;
background: #FFD700;
width: 30%;
padding: 0 10px;
}

.contacts-item{
font-size: 20px;
padding-bottom: 5px;
}

.main-title{
font-size: 30px;
margin-bottom: 0;
text-align: center;
}

.main-line{
background-color: black;
height: 2px;
width: 100%;
margin-bottom: 15px;
}

.education-place{
margin-bottom: 15px;
font-weight: bold;
}

.education-title{
font-size: 22px;   
margin-bottom: 15px;
}

.education-speciality{
font-size: 18px;  
padding-left: 20px;
margin-bottom: 15px;
}

.footer-container{
display: flex;
height: 70px;
justify-content: space-around;
background: #FFD700;
}

.footer-item{
display: flex;
align-items: center;
}

.footer-image{
   height: 40px;
}

img {
   border-style: none;
}

img:hover{
   transform: scale(1.1);
   z-index: 1;
   transition: transform .2s;
   }

.footer-text{
font-weight: bold;
}